html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.map {
  height: 600px;
  width: 100%;
}
.legend {
  border: 1px solid white;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3px;
}
.positive, .neutral, .negative {
  color: white;
  padding: 3px;
}
.positive {
  background: #8FB996;
}
.neutral {
  background: #0353A4;
}
.negative {
  background: #A20900;
}

.nav.nav-pills {
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
}

.form-tabs {
  margin-bottom: 20px;
}

.analyzer-results div {
  margin-bottom: 10px;
}
.imgHolder {
  position: relative;
  float: left;
  margin-right: 5px;
}
.imgHolder span {
  position: absolute;
  left: 30px;
  bottom: 2px;
  color: white;
}
.articleText {
  clear: left;
}
.sidebar {
  overflow: auto;
  height: 600px;
}
.logo {
  width: 12%;
  float: left;
}
.jumbotron {
  background-image: url("grey_wash_wall.png");
  text-align: center;
}
.jumbotron h3 {
  color: #96999b;
}
.jumbotron .img-responsive {
  margin: auto;
}
.navbar-brand {
  padding: 0;
}
.feature-icon {
  width: 50%;
  display: block;
  opacity: .5;
  margin: auto;
}
.feature-icon:hover {
  opacity: .8;
}
.feature-div {
  text-align: center;
}
.company-image {
  width: 100%;
}
.company {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider {
  border-top: 12px solid #eee;
}
@media (max-width: 600px) {
  .sidebar {
    height: 400px;
  }
  .map {
    height: 400px;
  }
}
